<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="%SystemDrive%\home\site\wwwroot"/>
        <add key="WSGI_HANDLER" value="robottasks.py"/>
        <add key="WSGI_LOG" value="%SystemDrive%\home\LogFiles\wfastcgi.log"/>
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python38\python.exe|D:\home\Python38\Scripts\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
